{% extends "main" %}

{% block main %}
    <article class="home">
        <h1>Rust Blog</h1>
        {% for post in posts %}
            <div class="post-item">
              <span><a href="/posts/show/{{ post.id }}">{{ post.title }}</a></span>
            </div>
        {% endfor %}
<div>{{ user.first_name }}</div>
<div>{{ user.last_name }}</div>
<div>{{ user.is_anonymous }}</div>
    </article>
{% endblock main %}
