<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Rust Blog</title>
  </head>
  <body>
    <a href="/">> Home</a>
    <a href="/show_posts">> Show Posts</a>
    <h1>Edit a Post</h1>
    <form id="new-post" method="post" action="/update_post">
      <input name="id" type="hidden" value="{{id}}" required>
      <input name="title" type="text" placeholder="{{title}}" required>
      <input name="body" type="text" placeholder="{{body}}" required>
      <button type="submit">Submit Post</button>
    </form>
  </body>
</html>

