<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Rust Blog</title>
    <link rel="stylesheet" href="/assets/main.css">
  </head>
  <body>
    <a href="/new_post">> Create Post</a>
    <a href="/show_posts">> Show Posts</a>
    <h1>Templating works!</h1>
    <p>Rendering: {{data}}</p>
  </body>
</html>
