<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{% block title %} Rust Blog {% endblock title %}</title>
        <link rel="stylesheet" type="text/css" href="/assets/main.css">
    </head>
    <body>
        <div class="container">
          <nav id="nav">
          {% if user is defined %}
              {% if user.is_anonymous %}
                  <a href="/auth/login">> Login</a>
              {% else %}
                  <a href="/posts/new">> Create Post</a>
              {% endif %}
          {% else %}
              <a href="/auth/login">> Login</a>
          {% endif %}
          </nav>
            {% block main %}{% endblock main %}
        </div>
    </body>
</html>
