<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Handlebars Demo</title>
  </head>
  <body>
    <h1>Create a New Post</h1>
    <form id="new-post" method="post" action="/create_post">
      <input name="title" type="text" placeholder="Post Title" required>
      <input name="body" type="text" placeholder="Post Body" required>
      <button type="submit">Submit Post</button>
    </form>
  </body>
</html>

