<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Rust Blog</title>
  </head>
  <body>
    <a href="/">> Home</a>
    <a href="/show_posts">> Show Posts</a>
    <h1>Create a New Post</h1>
    <form id="new-post" method="post" action="/create_post">
      <input name="title" type="text" placeholder="Title" required>
      <input name="content" type="text" placeholder="Content" required>
      <button type="submit">Submit Post</button>
    </form>
  </body>
</html>

